.tools {
    background: #ddd;

    overflow: auto;
}

#workspace {
    background: #efefef;
}

.controls {
    margin: 0.5em;
}

.control, .dimension {
    display: block;
}

.dimension label {
    width: 2em;
}

.tools select, .tools button {
    width: 10em;

    margin-bottom: 0.5em;
}
