<header class="tools">
    <div class="controls type-controls pull-left">
        <select class="type" ng-model="selected.type" ng-options="type for type in types"></select>

        <div class="data">
            <label>Data</label>
            <input name="data" ng-model="selected.data" />
        </div>
    </div>

    <div class="controls property-controls pull-left">
        <div class="animate-switch-container" ng-switch on="selected.type">
            <div ng-switch-when="text">
                <select class="type" ng-model="selected.font" ng-options="font for font in fonts"></select>

                <div class="size">
                    <label>Size</label>
                    <input name="size" ng-model="selected.size" />
                </div>

                <div class="uppercase">
                    <label>Uppercase</label>
                    <input name="uppercase" type="checkbox" ng-model="selected.uppercase" />
                </div>

                <div class="shadow">
                    <label>Shadow</label>
                    <input name="shadow" type="checkbox" ng-model="selected.shadow" />
                </div>
            </div>
            <div ng-switch-when="media"></div>
            <div ng-switch-when="table">
                <div class="rows">
                    <label>Rows</label>
                    <input name="rows" ng-model="selected.rows" />
                </div>

                <div class="columns">
                    <label>Columns</label>
                    <input name="columns" ng-model="selected.columns" />
                </div>
            </div>
        </div>
    </div>

    <div class="controls general-controls pull-right">
        <button class="control" ng-click="remove()">Remove</button>
        <button class="control" ng-click="addNew()">Add New</button>
    </div>

    <div class="controls dimension-controls pull-right">
        <div class="dimension">
            <label>X</label>
            <input name="x" ng-model="selected.x" />
        </div>

        <div class="dimension">
            <label>Y</label>
            <input name="y" ng-model="selected.y" />
        </div>

        <div class="dimension">
            <label>Z</label>
            <input name="z" ng-model="selected.z" />
        </div>

        <div class="dimension">
            <label>W</label>
            <input name="w" ng-model="selected.w" />
        </div>

        <div class="dimension">
            <label>H</label>
            <input name="h" ng-model="selected.h" />
        </div>
    </div>
</header>

<div id="workspace">
    <div class="elements" ng-repeat="element in elements" ng-switch on="element.type">
        <div draggable class="element" ng-switch-when="text" ng-class="{selected: element.selected}" ng-style="{left: element.x * 100 + '%', top: element.y * 100 + '%', width: element.w * 100 + '%', height: element.h * 100 + '%', 'z-index': element.z}">
            <div ng-style="{'font-family': element.font, 'font-size': element.size, 'text-transform': element.uppercase? 'uppercase': 'none', 'text-shadow': element.shadow? '0.1em 0.1em #333': 'none'}">{{ element.type }}</div>
        </div>
        <div draggable class="element" ng-switch-when="media" ng-class="{selected: element.selected}" ng-style="{left: element.x * 100 + '%', top: element.y * 100 + '%', width: element.w * 100 + '%', height: element.h * 100 + '%', 'z-index': element.z}">
            <img src="images/yeoman.png" />
        </div>
        <div draggable class="element" ng-switch-when="table" ng-class="{selected: element.selected}" ng-style="{left: element.x * 100 + '%', top: element.y * 100 + '%', width: element.w * 100 + '%', height: element.h * 100 + '%', 'z-index': element.z}">
            <table>
                <tr ng-repeat="row in getNumber(element.rows) track by $index">
                    <td ng-repeat="column in getNumber(element.columns) track by $index">{{ element.rows }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
