<header class="tools">
    <div class="controls type-controls pull-left">
        <select class="type" ng-model="selectedType" ng-options="type for type in types"></select>

        <div class="data">
            <label>Data</label>
            <input name="data" ng-model="selected.data" />
        </div>
    </div>

    <div class="controls property-controls pull-left">
        <div class="animate-switch-container" ng-switch on="selectedType">
            <div class="animate-switch" ng-switch-when="text">
                <select class="type" ng-model="selectedFont" ng-options="font for font in fonts"></select>

                <div class="size">
                    <label>Size</label>
                    <input name="size" ng-model="selected.size" />
                </div>

                <div class="uppercase">
                    <label>Uppercase</label>
                    <input name="uppercase" type="checkbox" ng-model="selected.uppercase" />
                </div>

                <div class="shadow">
                    <label>Shadow</label>
                    <input name="shadow" type="checkbox" ng-model="selected.shadow" />
                </div>
            </div>
            <div class="animate-switch" ng-switch-when="media"></div>
            <div class="animate-switch" ng-switch-when="table">
                <div class="rows">
                    <label>Rows</label>
                    <input name="rows" ng-model="selected.rows" />
                </div>

                <div class="columns">
                    <label>Columns</label>
                    <input name="columns" ng-model="selected.columns" />
                </div>
            </div>
        </div>
    </div>

    <div class="controls general-controls pull-right">
        <button class="control">Remove</button>
        <button class="control">Add New</button>
    </div>

    <div class="controls dimension-controls pull-right">
        <div class="dimension">
            <label>X</label>
            <input name="x" />
        </div>

        <div class="dimension">
            <label>Y</label>
            <input name="y" />
        </div>

        <div class="dimension">
            <label>Z</label>
            <input name="z" />
        </div>

        <div class="dimension">
            <label>W</label>
            <input name="w" />
        </div>

        <div class="dimension">
            <label>H</label>
            <input name="h" />
        </div>
    </div>
</header>

<div class="workspace">
workspace
</div>
