<header class="tools">
    <div class="controls type-controls pull-left">
        <select class="type">
            <option value="text">Text</option>
            <option value="media">Media</option>
            <option value="table">Table</option>
        </select>
    </div>

    <div class="controls property-controls pull-left">
        TODO
    </div>

    <div class="controls general-controls pull-right">
        <button class="control">Remove</button>
        <button class="control">Add New</button>
    </div>

    <div class="controls dimension-controls pull-right">
        <div class="dimension">
            <label>X</label>
            <input name="x" />
        </div>

        <div class="dimension">
            <label>Y</label>
            <input name="y" />
        </div>

        <div class="dimension">
            <label>Z</label>
            <input name="z" />
        </div>

        <div class="dimension">
            <label>W</label>
            <input name="w" />
        </div>

        <div class="dimension">
            <label>H</label>
            <input name="h" />
        </div>
    </div>
</header>

<div class="workspace">
workspace
</div>
